In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot

Matplotlib is building the font cache; this may take a moment.

In [24]:
cycle_data = pd.read_csv('202307-divvy-tripdata.csv')
cycle_data

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,9340B064F0AEE130,electric_bike,2023-07-23 20:06:14,2023-07-23 20:22:44,Kedzie Ave & 110th St,20204,Public Rack - Racine Ave & 109th Pl,877,41.692406,-87.700905,41.694835,-87.653041,member
1,D1460EE3CE0D8AF8,classic_bike,2023-07-23 17:05:07,2023-07-23 17:18:37,Western Ave & Walton St,KA1504000103,Milwaukee Ave & Grand Ave,13033,41.898418,-87.686596,41.891578,-87.648384,member
2,DF41BE31B895A25E,classic_bike,2023-07-23 10:14:53,2023-07-23 10:24:29,Western Ave & Walton St,KA1504000103,Damen Ave & Pierce Ave,TA1305000041,41.898418,-87.686596,41.909396,-87.677692,member
3,9624A293749EF703,electric_bike,2023-07-21 08:27:44,2023-07-21 08:32:40,Racine Ave & Randolph St,13155,Clinton St & Madison St,TA1305000032,41.884112,-87.656943,41.882752,-87.641190,member
4,2F68A6A4CDB4C99A,classic_bike,2023-07-08 15:46:42,2023-07-08 15:58:08,Clark St & Leland Ave,TA1309000014,Montrose Harbor,TA1308000012,41.967088,-87.667291,41.963982,-87.638181,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
767645,57F5743A5828DA62,electric_bike,2023-07-14 19:17:13,2023-07-14 19:26:31,NaN,NaN,California Ave & Division St,13256,41.910000,-87.680000,41.903029,-87.697474,member
767646,2FF218D4C8F0EF1C,electric_bike,2023-07-14 19:16:13,2023-07-14 19:16:16,NaN,NaN,NaN,NaN,41.910000,-87.680000,41.910000,-87.680000,member
767647,2661FBD1F5A1C76D,electric_bike,2023-07-15 13:34:00,2023-07-15 13:43:13,NaN,NaN,NaN,NaN,41.940000,-87.650000,41.930000,-87.640000,member
767648,9CF4B70C23E033B1,electric_bike,2023-07-06 20:52:09,2023-07-06 21:01:13,NaN,NaN,NaN,NaN,41.910000,-87.630000,41.930000,-87.640000,member
767649,7AD613C71AD143CD,electric_bike,2023-07-07 18:47:27,2023-07-07 18:51:46,NaN,NaN,NaN,NaN,41.930000,-87.650000,41.940000,-87.660000,member

In [16]:
cycle_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 767650 entries, 0 to 767649
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             767650 non-null  object
 1   rideable_type       767650 non-null  object
 2   started_at          767650 non-null  object
 3   ended_at            767650 non-null  object
 4   start_station_name  644707 non-null  object
 5   start_station_id    644707 non-null  object
 6   end_station_name    637346 non-null  object
 7   end_station_id      637346 non-null  object
 8   start_lat           767650 non-null  float64
 9   start_lng           767650 non-null  float64
 10  end_lat             766396 non-null  float64
 11  end_lng             766396 non-null  float64
 12  member_casual       767650 non-null  object
dtypes: float64(4), object(9)
memory usage: 76.1+ MB

In [26]:
cycle_data.dropna(inplace = True)

In [28]:
cycle_data.info()
cycle_data.dtypes

<class 'pandas.core.frame.DataFrame'>
Index: 573958 entries, 0 to 767626
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             573958 non-null  object
 1   rideable_type       573958 non-null  object
 2   started_at          573958 non-null  object
 3   ended_at            573958 non-null  object
 4   start_station_name  573958 non-null  object
 5   start_station_id    573958 non-null  object
 6   end_station_name    573958 non-null  object
 7   end_station_id      573958 non-null  object
 8   start_lat           573958 non-null  float64
 9   start_lng           573958 non-null  float64
 10  end_lat             573958 non-null  float64
 11  end_lng             573958 non-null  float64
 12  member_casual       573958 non-null  object
dtypes: float64(4), object(9)
memory usage: 61.3+ MB

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [46]:

cycle_data["started_at"] = pd.to_datetime(cycle_data['started_at'])
cycle_data["MONTH"] = cycle_data["started_at"].dt.month
cycle_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,MONTH
0,9340B064F0AEE130,electric_bike,2023-07-23 20:06:14,2023-07-23 20:22:44,Kedzie Ave & 110th St,20204,Public Rack - Racine Ave & 109th Pl,877,41.692406,-87.700905,41.694835,-87.653041,member,7
1,D1460EE3CE0D8AF8,classic_bike,2023-07-23 17:05:07,2023-07-23 17:18:37,Western Ave & Walton St,KA1504000103,Milwaukee Ave & Grand Ave,13033,41.898418,-87.686596,41.891578,-87.648384,member,7
2,DF41BE31B895A25E,classic_bike,2023-07-23 10:14:53,2023-07-23 10:24:29,Western Ave & Walton St,KA1504000103,Damen Ave & Pierce Ave,TA1305000041,41.898418,-87.686596,41.909396,-87.677692,member,7
3,9624A293749EF703,electric_bike,2023-07-21 08:27:44,2023-07-21 08:32:40,Racine Ave & Randolph St,13155,Clinton St & Madison St,TA1305000032,41.884112,-87.656943,41.882752,-87.641190,member,7
4,2F68A6A4CDB4C99A,classic_bike,2023-07-08 15:46:42,2023-07-08 15:58:08,Clark St & Leland Ave,TA1309000014,Montrose Harbor,TA1308000012,41.967088,-87.667291,41.963982,-87.638181,member,7